# ============================================
# Qwen Auto-Key Generator - Environment Config
# ============================================

# Your Gmail address (the bot will apply the dot trick to generate variants)
GMAIL_USERNAME=yourname@gmail.com

# Gmail App Password (NOT your regular password!)
# Generate one at: https://myaccount.google.com/apppasswords
# Requires 2FA enabled on your Google account.
# Use "Mail" as app and "Other" as device name.
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

# url qwen cloud
QWEN_SSO_URL=https://account.alibabacloud.com/sso/register?response_type=code&client_id=qwencloud&scope=openid&state=733558d0517d4a20b6e17084043575cf&redirect_uri=https%3A%2F%2Faccount.qwencloud.com%2Fsso%2FssoLogin&return_url=https%3A%2F%2Fhome.qwencloud.com%2Ftry-ai&expireTime=1782428100010&accounttraceid=a0a635dc9e794010a5ceb2bc0e56dab5sjbr&cspNonce=Z81fgVOBA4&oauth_callback=https%3A%2F%2Fhome.qwencloud.com%2Ftry-ai&_AC_WEB_START_MS_=56104610331658629

# Headless mode (true = invisible browser, false = watch it work)
HEADLESS=true
